@use "../../scss/colors";
@use "../../scss/global";
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 48px;
  height: 80dvh;
  width: 100%;
  max-width: 800px;
  padding: 2em;
  background-color: colors.$gray;

  &__time {
    display: grid;
    place-items: center;
  }
  &__title {
    font-size: clamp(6rem, 20vw, 8.75em);
    font-weight: 400;
    margin: 0;
  }

  &__button--reset {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  @media (max-width: global.$breakpoint-small) {
    padding: 3rem 0.5rem;
    height: 85dvh;
    border-radius: 1.5rem;
    flex-direction: column;
  }
}

.toast-container.toaster {
  background-color: #fab;
  color: green;
  padding: 10px;
}
