@use "../../scss/typography";
@use "../../scss/colors";
@use "../../scss/global";

.play__btn {
  font-size: typography.$btn-normal;
  line-height: 1;
  padding: 0.5em 1em;
  background-color: colors.$white;
  border-radius: global.$rounded-full;
  display: flex;
  gap: 3em;
  cursor: pointer;

  &--indicator {
    background-color: colors.$blue;
    height: 1em;
    width: 1em;
    border-radius: global.$rounded-full;
  }

  &--active {
    background-color: colors.$red;
  }
}
