@use "./colors";
@use "./typography";

$rounded-full: 999px;
$breakpoint-small: 570px;

@font-face {
  font-family: Diatype;
  src: url("../assets/Diatype.woff2");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  font-family: Diatype, Inter, sans-serif;
  font-size: typography.$text;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  color: colors.$black;
  background: colors.$white;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

//Section
.App {
  height: 100dvh;
  padding: 1.25em;
  overflow: hidden;

  @media (max-width: $breakpoint-small) {
    padding: 1rem;
  }
}

//Container

.container {
  max-width: 1400px;
  height: 100%;
  display: grid;
  place-items: center;
  margin: auto;
}
